.create-account-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  gap: 10px;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.form-button {
  display: block;
  font-size: 2rem;
  width: auto;
  margin: 0 auto;
  padding: 5px;
}